.container-goodpoint {
    height: 910px;
    line-height: 910px;
    background-color: #002766;
    color: #ffffff;
    text-align: center;
}

.goodpoint {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}