.topic {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.block-size {
    margin-top: 25px;
    width: 70px;
    height: 6px;
    background: linear-gradient(45deg, #7effb4, #1677ff);
    margin-left: auto;
    margin-right: auto;
}