.water-consumption-layout {
    padding: 2% 10%;
}

.water-consumption-topic {
    text-align: start;
}

.water-consumption-form {
    /* font-weight: bold; */
}

.water-consumption-input-text {
    width: 20%;
}

.water-consumption-input-number {
    width: 20%;
}


.water-consumption-form-result {
    font-weight: bold;
}

.water-consumption-input-result {
    width: 20%;
    font-weight: bold;
    color: #1890ff;
}

.water-consumption-button {
    width: 20%;
    font-weight: bold;
    float: right;
}

.water-consumption-dropdown {
    width: 20%;
}