.water-consumption-layout {
    padding: 2% 10%;
}

.water-consumption-topic {
    text-align: start;
}

.water-consumption-form {
    font-weight: bold;
}

.water-consumption-input-text {
    width: 40%;
}

.water-consumption-input-number {
    width: 40%;
}


.water-consumption-form-result {
    font-weight: bold;
}

.water-consumption-input-result {
    width: 40%;
    font-weight: bold;
    color: #1890ff;
}

.water-agriculture-area-number {
    width: 40%;
}

.water-livestock-amount-animal {
    width: 40%;
}

.water-livestock-water-animal {
    width: 40%;
}

.water-industry-area {
    width: 40%;
}

.water-industry-water {
    width: 40%;
}

.water-consumption-button {
    width: 20%;
    font-weight: bold;
    float: right;
}

.water-consumption-dropdown {
    width: 40%;
}

.info-result-label {
    width: 100%;
}

.info-result{
    width: 55%;
}