.restriction {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.topic-p {
    color: #1890ff;
    font-weight: bold;
}

.row-card {
    width: 100%;
}